<!--The content below is only a placeholder and can be replaced.-->
<!-- <button mat-button (click)="getMap()">Test Map</button>
<button mat-raised-button color="primary" (click)="getMap()">Action To Take</button>
<button mat-raised-button color="primary" (click)="
toggle()">Animation</button>
<button mat-raised-button color="primary" (click)="drawPolygon('#000000')">Draw Poly</button>
<div [@openClose]="isOpen ? 'open' : 'closed'" >
  <button mat-button (click)="getMap()">Test Map</button>
<button mat-raised-button color="primary" (click)="getMap()">Action To Take</button>
</div> -->
<div style="width: 1000px; height: 60px;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
<button mat-mini-fab matTooltip="Add a label" color="primary" [ngStyle]="{'background-color': activeAction === 'add' ? '#16a085' : '#ecf0f1' }" [disabled]="!(activeAction === 'add')" (click)="activeAction='chooseshape'"><mat-icon>add</mat-icon></button>
<button mat-mini-fab matTooltip="Draw Rectrangle" color="primary" [disabled]="!(activeAction === 'chooseshape')" (click)="activeAction='drawingshape'; drawAction = 'rect'"><mat-icon>crop_square</mat-icon></button>
<button mat-mini-fab matTooltip="Draw Polygon" color="primary" [disabled]="!(activeAction === 'chooseshape')" (click)="activeAction='drawingshape'"><mat-icon>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
  y="0px" viewBox="0 0 15.993 15.993" style="enable-background:new 0 0 15.993 15.993;" xml:space="preserve">
  <g>
    <path d="M0.016,6.039l3.993,9.954h7.954l4.013-9.954L7.99,0L0.016,6.039z M11.466,14.994h-6.96l-3.493-8.71
		L7.99,1l6.988,5.284L11.466,14.994z" />
  </g>
  </svg>
</mat-icon></button>
<button mat-mini-fab matTooltip="Undo" style="background-color: #ecf0f1;" [disabled]="!(activeAction === 'drawingshape')"><mat-icon>undo</mat-icon></button>
<button mat-mini-fab matTooltip="Redo" style="background-color: #ecf0f1;" [disabled]="!(activeAction === 'drawingshape')"><mat-icon>redo</mat-icon></button>
<button mat-mini-fab matTooltip="Edit Shape" ><mat-icon>edit</mat-icon></button>
<button mat-mini-fab matTooltip="Delete Shape" color="warn"><mat-icon>delete</mat-icon></button>
</div>
<div style="height: 550px; width: 1000px"
  #leafletInstance
  leaflet
  [leafletZoom]="1"
  [leafletCenter]="center"
  [leafletLayers]="layers"
  (leafletMapReady)="onMapReady($event)"
  (leafletDrawStop)="addLayer($event)"
  (leafletClick) = "onMouseClick($event)"
  (leafletMouseMove)=" onMouseMove($event)"
  (leafletMouseDown)="onMouseDown($event)"
  >

</div>
