<!--The content below is only a placeholder and can be replaced.-->
<!-- <button mat-button (click)="getMap()">Test Map</button>
<button mat-raised-button color="primary" (click)="getMap()">Action To Take</button>
<button mat-raised-button color="primary" (click)="
toggle()">Animation</button>
<button mat-raised-button color="primary" (click)="drawPolygon('#000000')">Draw Poly</button>
<div [@openClose]="isOpen ? 'open' : 'closed'" >
  <button mat-button (click)="getMap()">Test Map</button>
<button mat-raised-button color="primary" (click)="getMap()">Action To Take</button>
</div> -->
<div style="width: 1000px; height: 60px;" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
<button mat-mini-fab matTooltip="Draw Rectrangle" color="primary" [disabled]="!(activeAction === 'chooseshape')" (click)="activeAction='drawingshape'; drawAction = 'rect'"><mat-icon>crop_square</mat-icon></button>
<button mat-mini-fab matTooltip="Draw Polygon" color="primary" [disabled]="!(activeAction === 'chooseshape')" (click)="activeAction='drawingshape'; drawAction = 'polygon'"><mat-icon>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
  y="0px" viewBox="0 0 15.993 15.993" style="enable-background:new 0 0 15.993 15.993;" xml:space="preserve">
  <g>
    <path d="M0.016,6.039l3.993,9.954h7.954l4.013-9.954L7.99,0L0.016,6.039z M11.466,14.994h-6.96l-3.493-8.71
		L7.99,1l6.988,5.284L11.466,14.994z" />
  </g>
  </svg>
</mat-icon></button>
<button mat-mini-fab matTooltip="Edit Shape" ><mat-icon>edit</mat-icon></button>
<button mat-mini-fab matTooltip="Delete Last Rectrangle" color="warn" [disabled]="!(activeAction === 'drawingshape')" (click)="removeLastShape()"><mat-icon>close</mat-icon></button>
<button mat-mini-fab matTooltip="Delete Shape" color="warn"><mat-icon>delete</mat-icon></button>
</div>
<div style="height: 550px; width: 1000px"
  #leafletInstance
  leaflet
  [leafletZoom]="1"
  [leafletCenter]="center"
  [leafletLayers]="drawLayers.concat(drawLayerBuffer)"
  (leafletMapReady)="onMapReady($event)"
  (leafletDrawStop)="addLayer($event)"
  (leafletClick) = "onMouseClick($event)"
  (leafletMouseMove)=" onMouseMove($event)"
  >
</div>
<button mat-raised-button color="primary" (click)="putLabels('#27ae60')">Tag 1</button>
<button mat-raised-button color="primary" (click)="putLabels('#e67e22')">Tag 2</button>
<button mat-raised-button color="primary" (click)="putLabels('#8e44ad')">Tag 3</button>
